body {
  margin: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(0deg, #e87d7d 0%, #11a4ff 100%);
  overflow: hidden; /* Hide body overflow */
}

#envelope {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw; /* Responsive width */
  max-width: 300px; /* Maximum width */
  height: auto; /* Responsive height */
  transform: translate(-50%, -50%);
}

#envelope > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#back {
  display: block;
  z-index: 0;
}

#front {
  display: block;
  z-index: 10;
}

#top {
  display: block;
  z-index: 11;
}

#top.animate,
#front.animate,
#back.animate,
#envelope button.animate {
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 1s;
}

#letter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 15px; /* Added padding for spacing */
  z-index: 5;
  margin: 10px; /* Added margin for spacing */
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  overflow: auto;
  font-size: 16px;
  text-align: left;
  max-height: 70vh; /* Limit height */
}

#letter p {
  text-align: left;
  margin: 0;
  padding: 5px;
  line-height: 1.5;
}

h1 {
  padding-top: 12px;
}

h1 span {
  color: red;
}

p {
  font-size: 17px;
  padding: 2px;
  line-height: 20px;
}

#letter img {
  background-size: cover;
}

#letter.animate {
  animation: makebig 2s forwards;
  animation-delay: 1s;
}

@keyframes makebig {
  0% {
    margin-top: 0;
    font-size: 16px;
  }
  33% {
    margin-top: -100px;
    font-size: 16px;
  }
  100% {
    margin-top: 0;
    font-size: 24px;
  }
}

#letter h1 {
  font-size: inherit;
}

#letter h2 {
  font-size: inherit;
}

#letter img {
  height: 50%;
}

a {
  color: red;
}

#envelope button {
  display: block;
  z-index: 15;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: rgb(255, 89, 0);
  font-weight: bold;
  text-align: center;
  color: white;
  cursor: pointer;
  position: absolute;
  bottom: 10px; /* Adjusted for mobile */
  right: 10px; /* Adjusted for mobile */
  transition: transform 1s, background-color 1s, color 1s;
}

#envelope button:hover {
  background-color: white;
  transform: scale(1.5);
  color: rgb(255, 89, 0);
}

.text h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

@media screen and (max-width: 600px) {
  #envelope {
    width: 90vw;
    max-width: 280px; /* Adjusted for mobile */
  }

  #letter {
    width: calc(100% - 20px);
    height: auto;
    max-height: 60vh; /* Adjusted for mobile */
    padding: 10px;
  }

  #envelope button {
    width: 40px;
    height: 40px;
    bottom: 5%;
    right: 5%;
  }
}
